body {
  margin: 0;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
    "header header"
    "sidenav content"
    "footer footer";
}

#header, #content, #sidenav, #footer {
  border: 3px solid lightpink;
}

#header {
  grid-area: header;
}
#content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
}
#footer {
  grid-area: footer;
}
#sidenav {
  grid-area: sidenav;
}

.block {
  width: 350px;
  height: 200px;
  border: 5px solid lightpink;
  background-color: rgba(0, 0, 0, 0.397);
  color: white;
  border-radius: 15px;
  padding: 50px;
  margin: 30px;
  text-align: center;
}
.caixa {
  text-align: center;
  color: white;
  padding: 20px;
}
.alerta {
  background-color: rgba(137, 43, 226, 0.473);
}
.bloco {
  width: 38%;
}
ul li{
  color: white;
}